<button mat-button color="primary" (click)="openPostDialog('new')">
  ADD POST
</button>
<mat-card class="card">
  <form class="example-form">
    <mat-form-field class="example-full-width" >
      <mat-label>Find post</mat-label>
      <input [(ngModel)]= "search" (ngModelChange)="searchPosts()" [ngModelOptions]="{standalone: true}" matInput placeholder="" value="">
    </mat-form-field>
    
  </form>
</mat-card>
<mat-card class="card">
  <mat-card-title>Latest Posts</mat-card-title>
</mat-card>

<mat-card *ngIf="showLoader" class="card">
  <mat-spinner></mat-spinner>
</mat-card>


<mat-card *ngFor="let post of posts$" class="card">
  <mat-card-content>
    <h1>{{ post.title }}</h1>
    <p>{{ post.body }}</p>
  </mat-card-content>

  <mat-card-actions>
    <a routerLink="/posts/{{ post.id }}" mat-raised-button color="accent"
      >Detail</a
    >
  </mat-card-actions>
</mat-card>
